%h2 Characters

%p
  = link_to "Create a new Character", new_character_path, class: 'btn btn-primary'

%p
  %table.table
    %tr
      %th Id
      %th Name
      %th Strength
      %th Vitality
      %th

    - @characters.each do |character|
      %tr
        %td= character.id
        %td= character.name
        %td= character.strength
        %td= character.vitality
        %td= link_to "delete", character, method: :delete, confirm: 'Delete?'

%p
  = link_to "Create a new Character", new_character_path, class: 'btn btn-primary'
