%h2 Battles

%p
  = link_to "Start battle", start_battles_path, class: 'btn btn-primary'

%p
  %table.table
    %tr
      %th ID
      %th Started
      %th
    - @battles.each do |battle|
      %tr
        %td= battle.id
        %td= battle.created_at
        %td
          = battle.character_1_name
          vs
          = battle.character_2_name

